@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Roboto:wght@100;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family2);
}
:root{
    --font-family1: 'Kdam Thmor Pro', sans-serif;
    --font-family2: 'Roboto', sans-serif;
    --font-family3: 'Fascinate', cursive;
}
